@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0dvb;
}

body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(205, 216, 223);
}
